* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

/* Título */
.title {
    text-align: center;
    padding-top: 40px;
    font-size: 26px;
    width: 100%;
    height: 110px;
}

/* Botón para añadir un nuevo libro */
.btn {
    margin: auto;
    width: 150px;
    height: 150px;
    margin-bottom: -40px;
}
#newBook {
    font-weight: 900;
    border-radius: 50px;
    border: 0.5px solid rgba(85, 82, 82, 0.8);
    width: 150px;
    height: 50px;
}
#newBook:hover {
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    background: rgb(0, 0, 0);
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 6px #ffffff;
}

/* Tabla de libros */
.table {
    border-radius: 15px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    height: auto;
    width: 1025px;
    border: 0.5px solid rgba(85, 82, 82, 0.8);
}

/* Caja de libros */
.libros {
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    padding: 15px;
    text-align: center;
    background-color: rgb(228, 198, 121);
}

/* Eliminar libros de la caja de Libros */
.eliminarLibro {
    font-weight: bold;
    display: block;
    width: 150px;
    border-radius: 50px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
}
.eliminarLibro:hover {
    color: white;
    background: black;
}

/* Ventana Emergente para Añadir Libros */
.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.active {
    visibility: visible;
}

.popup {
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 450px;
    transition: 0.3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: rgb(128, 120, 120);
    transition: 0.1s ease all;
}
.popup .btn-cerrar-popup:hover {
    color: black;
}

.popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 20px;
    opacity: 0;
}

.popup form .contenedor-inputs h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    /* opacity: 0; */
}

.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    opacity: 0;
}

#check {
    width: 30px;
    margin-bottom: 10px;
}

.popup form .btn-añadir {
    font-weight: bold;
    width: 150px;
    border-radius: 50px;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

.popup form .btn-añadir:hover {
    background: black;
    color: white;
}

/* Animaciones */

.popup.active {
    opacity: 1;
    transform: scale(1);
}
.popup.active h3 {
    animation: entradaTitulo 0.5s ease 0.3s forwards;
}
.popup.active h4 {
    animation: entradaSubitulo 0.5s ease 0.3s forwards;
}
.popup.active .contenedor-inputs input {
    animation: entradaInputs 0.5s ease 0.3s forwards;
}
.popup.active .btn-añadir {
    animation: entradaInputs 0.5s ease 0.3s forwards;
}

@keyframes entradaTitulo {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes entradaSubitulo {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
